
#chat
  #conversation.conversation
    .message.inbound
      .text
        %p
          Hi! We've received your application. Please click here to give
          us some more information: #{link_to chat_url("xyz"), chat_url("xyz")}

