// @charset "utf-8";

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;

// Update Bulma's global variables
// $family-sans-serif: "Nunito", sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
// $primary: $purple;
// $link: $pink;
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

// Import only what you need from Bulma
// @import "bulma/sass/utilities/_all.sass";
// @import "bulma/sass/base/_all.sass";
// @import "bulma/sass/elements/button.sass";
// @import "bulma/sass/elements/container.sass";
// @import "bulma/sass/elements/title.sass";
// @import "bulma/sass/form/_all.sass";
// @import "bulma/sass/components/navbar.sass";
// @import "bulma/sass/layout/hero.sass";
// @import "bulma/sass/layout/section.sass";

@import 'bulma/bulma';

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.conversation {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  padding: 1rem;
}

.msg { 
  display: flex;
  flex-flow: row nowrap;
  margin: 0.25rem 0;

  .text {
    width: fit-content;
    position: relative;
    border-radius: 14px;
    font-size: 14px;
    padding: 8px 14px;
    max-width: 80%;

    display: flex;
    flex-flow: column nowrap;
  }

  &.outbound {
    justify-content: flex-end;

    .text {
      background: rgb(212, 230, 255);
      color: rgb(52, 110, 130);
      border-bottom-right-radius: 0px;
    }
  }

  &.inbound {
    align-self: flex-start;

    .text {
      background: rgb(230, 230, 230);
      color: rgb(52, 110, 130);
      border-bottom-left-radius: 0px;
    }
  }

  // &.outbound + &.outbound {
  //   margin: 0.25rem 0 0;
  // }

  // &.outbound + &.outbound:not(:last-child) {
  //   margin: 0.25rem 0 0;
  // }

  // &.outbound + &.outbound:last-child {
  //   margin-bottom: 0.5rem;
  // }

  // &.inbound + &.inbound {
  //   margin: 0.25rem 0 0;
  // }

  // &.inbound + &.inbound:not(:last-child) {
  //   margin: 0.25rem 0 0;
  // }

  // &.inbound + &.inbound:last-child {
  //   margin-bottom: 0.5rem;
  // }

}
